.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
*.log
*.csv
*.sqlite3
*.db
credentials.py
data/raw/
data/processed/
bank_reviews_dump.sql 
reports/*.pdf # If you generate PDFs from markdown or notebooks